<!--<header class="login-head">
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
            alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>
            
           
            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" class="form-control form-control-lg" [(ngModel)]="username" placeholder="Enter a valid email address" >
              <label class="form-label" for="form3Example3">Email address</label>
            </div>
  
           
            <div class="form-outline mb-3">
              <input type="password" id="form3Example4" class="form-control form-control-lg"  [(ngModel)]="password"
                placeholder="Enter password">
              <label class="form-label" for="form3Example4">Password</label>
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a href="#!" class="text-body">Forgot password?</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="login()">Login</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                  class="link-danger">Register</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </section>  

</header>  --->


<body>
  <div id="login">
      <div class="container">
          <div id="login-row" class="row justify-content-center align-items-center">
              <div id="login-column" class="col-md-6">
                  <div id="login-box" class="col-md-12">
                      <form id="login-form" class="form" action="" method="post">
                          <h3 class="text-center text-WHITE">LOGIN</h3>
                          <div class="form-group">
                              <label for="username" class="text-white">Username:</label><br>
                              <input type="text" name="username" id="username" [(ngModel)]="username" class="form-control pt-3">
                          </div>
                          <div class="form-group pt-3">
                              <label for="password" class="text-white">Password:</label><br>
                              <input type="password" name="password" id="password" [(ngModel)]="password" class="form-control pt-3">
                          </div>
                          <div class="form-group text-center pt-4">
                              <input type="submit" id="button" name="login" class="btn btn-info btn-md px-4" (click)="login()" value="Login">
                          </div>
                         
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>


